main {
    background-color:rgb(189, 178, 160);
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}
.Titulo {
    margin: auto;
    color:rgb(182, 43, 8);
    font-style: italic;
}
.Corpo {
    padding: 10px;
    background-color: rgb(129, 216, 238);
}
.Foto {
    float: right;
    width: 150px;
}
