main {
    background-color:rgb(218, 199, 169);
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.473);
}
.Titulo {
    margin: auto;
    color:rgb(182, 43, 8);
    font-style: italic;
}
.Corpo {
    background-color:rgb(231, 169, 243);
    padding: 10px;
}
.Foto {
    float: right;
}